<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="uft-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" >
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="renderer" content="webkit">
    <!-- 目前仅限360急速浏览 webkit:急速  ie-comp:ie兼容模式   ie-stand: ie标准模式 -->
    <title>IT天骄</title>
    <meta name="keywords" content="青少年编程培训 课外辅导">
    <meta name="description" content="一家专门通过编程辅导中小学生学习的培训网站">
    <!-- Bootstrap中文字体版 -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- 自定义样式 -->
    <link href="/static/css/common.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
</head>
