<%include inc/header.html %>

<body>
<!-- <!-- 整站通用的头部及导航条 -->
<div id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="padding:0 0 0 15px;" href="/index">
                  <img alt="Brand" style="max-width:130px;"  src="/static/img/logo.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/index">首页</a></li>
                    <li ><a href="/course">开设课程</a></li>
                    <li  class="active"><a href="/about">关于我们 <span class="sr-only">(current)</span></a><p class="line-top hidden-xs"></p></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-- <!-- 整站通用的头部及导航条 -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<ol class="breadcrumb" style="margin-top: 10px; margin-bottom: 10px;">
				<li><a href="/index">首页</a></li>
				<li><a href="/about">关于我们</a></li>				<li class="active">版权声明</li>
			</ol>
		</div>
	</div>
</div>

<div class="main-container">
<div class="container">
<div class="row main-container-row" style="position: relative">
<div class="col-sm-3">
	<div id="sidebar">
		<div id="sidebar-content">
			<ul>
				<li>
					<li><a  href="/about" title="关于我们">关于我们</a></li>
					<li><a  href="/patent" title="版权声明">版权声明</a></li>
					<li>
            <a class="left-active" href="/questions" title="常见问题">常见问题</a>
					  <ul class="left-anchor"></ul>
          </li>
        </li>
			</ul>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-9 usinfo-article">
	<div class="article-title">
		<h1 class="h2">常见问题<small>ittianjiao.com</small></h1>
	</div>
	<div class="article-content">
		<h3>Q.1 我非常着急前往美国，请问最早能预约到什么时间？</h3>
<p>我方承诺可以加急至3工作日内进入使馆面签，最快可以约至当天或第二天面签，请随时为面签准备好所有面签材料。</p>
<h3>Q.2 我的护照签发地是江西，请问我应该选择哪个领区做美国加急预约？</h3>
<p>美国签证可以跨领区签证，申请人可以选择任意一个方便前往的使领馆面签，请告诉我方客服期望加急的领区，全国五大领区均可进行加急预约服务。</p>
<h3>Q.3 预约成功后，能否更改时间或取消预约？</h3>
<p>预约到指定时间前，申请人可随时取消预约，不产生任何费用，一旦加急预约成功，且在申请人指定的时间内，则费用全额产生，无法更改加急时间，也无法取消加急预约。如果需要取消再进行加急，则需要另外产生费用。请您确定好时间再下单。</p>
<h3>Q.4 我需要办理加急预约，请问我需要提供给你们哪些信息？</h3>
<p>我公司只需要官方预约所提供的入馆信息，具体可向在线客服人员索要加急预约信息采集表进行填写并回传即可。点击咨询客服</p>
<h3>Q.5 请问加急预约对我的签证有影响吗？是否能提高签证通过率？</h3>
<p>美国签证加急预约仅仅是提前申请人进入使馆面谈的时间，和签证的通过率没有任何关联，既不会有帮助，也不会有坏处，签证的通过与否由美国外交使团负责，签证官只关注你的申请材料和赴美事由，不会关注你以什么样的方式预约的面签时间，加急预约成功后，所有签证流程与官方完全一致。</p>
<h3>Q.6 我在您公司购买了美国加急预约服务，多久能预约好？</h3>
<p>一般情况下，我公司能在收到您预约信息后1-2工作日预约到您需要的面谈时间，最快当天就能预约完成，给您回复，请提交资料后耐心等待我方回复。</p>
<p>Welcome to tianjiao.</p>	</div>
</div>
<p class="hidden-xs" id="left-line"></p>
</div>
</div>
</div>

<script type="text/javascript">
	$(function(){
		$('.article-content table').addClass("table table-bordered table-hover");
	});
	/** 响应式sidebar 左侧菜单 **/
	$(function () {
		//页面加载时初始化
		var sidebar = $('#sidebar');
		var sidebarContent = $('#sidebarContent');
		var sidebarBg = $('#sidebar-bg');

		var navHeight = (window.innerWidth < 768) ? 0 : 82;
		var floor = new Array();


		//点击显示菜单按钮
		$('#slider-menu').click(function(event){
			if( sidebar.is(':hidden')){
				sidebar.show();
				sidebarBg.css({
					"position" : "fixed",
					"top" : 0,
					"left" : 0,
					"display" : "block",
					"width" : "100%",
					"height" : "100%",
					"z-index" : 1090,
					"background-color" : "rgba(0,0,0,0.5)"
				});
			}else{
				sidebar.hide();
				sidebarBg.hide();
			}
		});
		//如果是手机屏幕, 点周空白处隐藏菜单
		sidebarBg.click(function(){
			sidebar.hide();
			sidebarBg.hide();
		});


		var buildAnchor = function(){
			var anchorLi = '';
			//将页面的h3作为锚点链接, 添加到导航菜单中
			$('.article-content h3').each(function(){
				floor.push($(this).offset().top);
				anchorLi += '<li><a>' + $(this).text() + '</a></li>';
			});
			//测试时用, 实际使用时可删除
			$('.left-anchor').empty();
			$('.left-anchor').append(anchorLi);
			$('.left-anchor').children(':first').children(':first').addClass('left-active-sub');

			//为新加的锚点裢接绑定跳转事件
			$('.left-anchor li').each(function(){
				$(this).click(function(){
					$(window).scrollTop(($('.article-content h3').eq($(this).index()).offset().top)-navHeight);
					//alert($(this).index());
					if(window.innerWidth<768){
						$('#sidebar').hide();
						$('#sidebar-bg').hide();
					}
				});
			});
		}

		buildAnchor();

		//浮动菜单函数
		var flowMenu = function(validHeight){
			if($('.main-container-row').offset().top < $(window).scrollTop()+navHeight){
				//console.log('跑出去了');
				sidebar.css({
					"position" : "fixed",
					"width" :sidebar.parent().width(),
					"height" : validHeight,
					//"top" : $(window).scrollTop()+navHeight-$('.main-container-row').offset().top,
					"top" : navHeight
				});
			}else{
				sidebar.css({
					"position" : "relative",
					"width" : sidebar.parent().width(),
					"height" : validHeight,
					"top" : ""
				});
			}
		}


		//视口改变时
		$(window).resize(function () {
			navHeight = (window.innerWidth < 768) ? 0 : 82;
			sidebar.css({
				"width" : sidebar.parent().width()
			});
			if(window.innerWidth>=768){
				sidebar.show();
				sidebarBg.hide();
				var validHeight = $('.main-container-row').offset().top + $('.main-container-row').outerHeight()-$(window).scrollTop()-navHeight;
				flowMenu(validHeight);
			}else{
				sidebar.hide();
				sidebarBg.hide();
			}
		});
		//页面滚动时
		$(window).scroll(function(){
			var aIndex = 0;
			//为菜单加active的class
			//row底部到视口顶部的距离, 元素顶部偏移 + 元素高度 - 滚动条偏移 - 固定导航条高度
			var validHeight = $('.main-container-row').offset().top + $('.main-container-row').outerHeight()-$(window).scrollTop()-navHeight;
			//console.log(validHeigh);
			for(var i=0; i<floor.length; i++){
				if(floor[i]<($(window).scrollTop()+navHeight+10)){
					aIndex = aIndex + 1;
				}
			}
			if(aIndex>0){
				aIndex = aIndex - 1;
			}
			//console.log(aIndex);
			var actLi = $('.left-anchor li').eq(aIndex);
			actLi.siblings().each(function(){
				$(this).children(':first').removeClass('left-active-sub')
			});
			actLi.children(':first').addClass('left-active-sub');

			//PC端时, 控制左边菜单列浮动显示
			if(window.innerWidth>=768){
				flowMenu(validHeight);
			}
		});
	});
	/** 响应式sidebar 左侧菜单 **/
</script>
<%include inc/footer.html %>
